body{
	margin:0px;
	font-family: helvetica;

}

header{
	background-color: #0EA5FE;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 25px;
}

header img{
	border-radius: 150px;
	border: 10px solid #FE910E;
}

h1{
	color: #7FFA45  ; 
}

body{
	background-color: #60F85D;
}